<html>
    <head>
        <title>home</title>
    </head>
    <body>
	<H1>Home</H1>
	<a href="/createRestaurant" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Create Restaurant</button>
</a>
	<a href="/searchRestaurant" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Search Restaurant</button>
</a>
	<a href="/viewRestaurant" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">View Restaurant</button>
</a>
	<a href="logout" style="text-decoration: none"><button class="w3-btn w3-section w3-teal w3-ripple">Logout</button>
	<hr><br>
    </body>
</html>
